// COLORS
$white-cl: rgb(255, 255, 255);
$grey-cl: rgb(228, 228, 228);
$black-cl: rgb(0, 0, 0);
$black-cl--opacity: rgba(0, 0, 0, .7);
$red-cl: rgb(242, 112, 112);
$red-cl--1: rgb(255, 181, 181);
$orange-cl: rgb(232, 175, 41);

// FONTS SIZE
$default-fs: 1.6rem;

// BOX SHADOW
$box-shadow--light: .1rem .1rem .7rem rgba(0, 0, 0, .3);

// BASE
$nav-height: 10vh;